# 서울시 인구 데이터를 가지고 Pandas 연습해보기
- [서울 열린데이터 광장 사이트](https://data.seoul.go.kr/dataList/419/S/2/datasetView.do)
- 구글에서 "서울 인구 데이터 현황" 이라고 검색해서 열린데이터 광장 사이트로 들어가도 됨.

## 서울시 동별 인구 데이터를 엑셀로 다운 받기
- 데이터 링크: [https://data.seoul.go.kr/dataList/419/S/2/datasetView.do](https://data.seoul.go.kr/dataList/419/S/2/datasetView.do)

### '미리보기' 섹션 > '다운로드' > '다운로드'

1. **미리보기** 제목이 있는 단락으로 스크롤해서 이동해서 다운로드 버튼 클릭
![section_preview01](../images/section_preview01.png)
2. 팝업 창에서 다운로드 버튼 다시 클릭
![section_preview02](../images/section_preview02.png)
3. **이 노트북이 있는 폴더**에 다운로드 받은 엑셀을 옮기기

## Pandas 로 조작해보기
- 우선, 현재 엑셀 형태 보기
![real_excel](../images/real_excel.png)
- 엑셀의 **세번째 행**을 header 로 설정하고, column 이름을 재정의하자
- 엑셀의 **첫번째 열**은 필요없는 내용이므로 버리자.

In [1]:
import pandas as pd


filename = "../data/등록인구_20250403110803.xlsx"
original = pd.read_excel(
    filename, sheet_name=0, header=[2]
)  # 1번째 열을 3번째 행을 header 로
original

/Users/joyuiyeong/.pyenv/versions/sandbox312/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동별(1),동별(2),소계,소계.1,남자,여자,소계.2,남자.1,여자.1,소계.3,남자.2,여자.2,소계.4,소계.5
0,합계,소계,4482063,9597372,4619963,4977409,9331828,4505355,4826473,265544,114608,150936,2.08,1824895
1,NaN,종로구,72166,149608,71365,78243,138336,66570,71766,11272,4795,6477,1.92,29840
2,NaN,중구,64995,131214,62924,68290,120544,58015,62529,10670,4909,5761,1.85,26853
3,NaN,용산구,103241,217194,104540,112654,203854,97469,106385,13340,7071,6269,1.97,39407
4,NaN,성동구,131953,281289,135575,145714,273669,132409,141260,7620,3166,4454,2.07,51245
5,NaN,광진구,169931,348652,166045,182607,331963,159237,172726,16689,6808,9881,1.95,59743
6,NaN,동대문구,172840,358603,173000,185603,338735,165620,173115,19868,7380,12488,1.96,69582
7,NaN,중랑구,188651,385349,187910,197439,379274,185473,193801,6075,2437,3638,2.01,83492
8,NaN,성북구,196485,435037,206945,228092,421560,202003,219557,13477,4942,8535,2.15,83568
9,NaN,강북구,143063,289374,138730,150644,283597,136789,146808,5777,1941,3836,1.98,71411
10,NaN,도봉구,138759,306032,147685,158347,303228,146696,156532,2804,989,1815,2.19,74223
11,NaN,노원구,217743,496552,237632,258920,491247,235464,255783,5305,2168,3137,2.26,100579
12,NaN,은평구,215305,465350,219994,245356,460919,218214,242705,4431,1780,2651,2.14,98063
13,NaN,서대문구,146221,318622,148227,170395,302853,143412,159441,15769,4815,10954,2.07,60229
14,NaN,마포구,181135,372745,172405,200340,361417,168356,193061,11328,4049,7279,2.00,60009
15,NaN,양천구,180209,434351,211560,222791,430976,210199,220777,3375,1361,2014,2.39,80390
16,NaN,강서구,273911,562194,268770,293424,556171,266237,289934,6023,2533,3490,2.03,107553
17,NaN,구로구,183891,411916,202710,209206,388169,189991,198178,23747,12719,11028,2.11,83873
18,NaN,금천구,121075,239070,120506,118564,225159,113211,111948,13911,7295,6616,1.86,47951
19,NaN,영등포구,192199,397173,194864,202309,373773,182802,190971,23400,12062,11338,1.94,70455
20,NaN,동작구,186950,387352,186226,201126,375799,181576,194223,11553,4650,6903,2.01,73201
21,NaN,관악구,285963,495620,247531,248089,477812,240457,237355,17808,7074,10734,1.67,88885
22,NaN,서초구,170681,413076,196407,216669,408376,194153,214223,4700,2254,2446,2.39,68735
23,NaN,강남구,245094,563215,269050,294165,557345,266412,290933,5870,2638,3232,2.27,91470
24,NaN,송파구,287017,656310,314532,341778,650110,311728,338382,6200,2804,3396,2.27,114243
25,NaN,강동구,212585,481474,234830,246644,476942,232862,244080,4532,1968,2564,2.24,89895

In [2]:
df = original.drop(0).drop(columns=["동별(1)"])  # 필요없는 데이터 제거
df.head()

,동별(2),소계,소계.1,남자,여자,소계.2,남자.1,여자.1,소계.3,남자.2,여자.2,소계.4,소계.5
1,종로구,72166,149608,71365,78243,138336,66570,71766,11272,4795,6477,1.92,29840
2,중구,64995,131214,62924,68290,120544,58015,62529,10670,4909,5761,1.85,26853
3,용산구,103241,217194,104540,112654,203854,97469,106385,13340,7071,6269,1.97,39407
4,성동구,131953,281289,135575,145714,273669,132409,141260,7620,3166,4454,2.07,51245
5,광진구,169931,348652,166045,182607,331963,159237,172726,16689,6808,9881,1.95,59743

In [3]:
# column 명을 각 column 이 어떤 의미인지 명확하도록 이름 재정의
df = df.rename(
    columns={
        "동별(2)": "동",
        "소계": "세대",
        "소계.1": "전체 수",
        "남자": "총 남자 수",
        "여자": "총 여자 수",
        "소계.2": "총 한국인 수",
        "남자.1": "총 한국인 남자 수",
        "여자.1": "총 한국인 여자 수",
        "소계.3": "총 외국인 수",
        "남자.2": "총 외국인 남자 수",
        "여자.2": "총 외국인 여자 수",
        "소계.4": "세대 당 평균 인구 수",
        "소계.5": "총 65세 이상 고령자 수",
    }
)
print("모든 컬럼명:", df.columns)
df.head()

모든 컬럼명: Index(['동', '세대', '전체 수', '총 남자 수', '총 여자 수', '총 한국인 수', '총 한국인 남자 수',
       '총 한국인 여자 수', '총 외국인 수', '총 외국인 남자 수', '총 외국인 여자 수', '세대 당 평균 인구 수',
       '총 65세 이상 고령자 수'],
      dtype='object')

,동,세대,전체 수,총 남자 수,총 여자 수,총 한국인 수,총 한국인 남자 수,총 한국인 여자 수,총 외국인 수,총 외국인 남자 수,총 외국인 여자 수,세대 당 평균 인구 수,총 65세 이상 고령자 수
1,종로구,72166,149608,71365,78243,138336,66570,71766,11272,4795,6477,1.92,29840
2,중구,64995,131214,62924,68290,120544,58015,62529,10670,4909,5761,1.85,26853
3,용산구,103241,217194,104540,112654,203854,97469,106385,13340,7071,6269,1.97,39407
4,성동구,131953,281289,135575,145714,273669,132409,141260,7620,3166,4454,2.07,51245
5,광진구,169931,348652,166045,182607,331963,159237,172726,16689,6808,9881,1.95,59743

In [4]:
# 기본 정보 확인 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   동               25 non-null     object
 1   세대              25 non-null     int64
 2   전체 수            25 non-null     int64
 3   총 남자 수          25 non-null     int64
 4   총 여자 수          25 non-null     int64
 5   총 한국인 수         25 non-null     int64
 6   총 한국인 남자 수      25 non-null     int64
 7   총 한국인 여자 수      25 non-null     int64
 8   총 외국인 수         25 non-null     int64
 9   총 외국인 남자 수      25 non-null     int64
 10  총 외국인 여자 수      25 non-null     int64
 11  세대 당 평균 인구 수    25 non-null     float64
 12  총 65세 이상 고령자 수  25 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 2.7+ KB

In [5]:
# 기본 정보 확인 2
df.describe()

,세대,전체 수,총 남자 수,총 여자 수,총 한국인 수,총 한국인 남자 수,총 한국인 여자 수,총 외국인 수,총 외국인 남자 수,총 외국인 여자 수,세대 당 평균 인구 수,총 65세 이상 고령자 수
count,25.000000,25.000000,25.00000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,179282.520000,383894.880000,184798.52000,199096.360000,373273.120000,180214.200000,193058.920000,10621.760000,4584.320000,6037.440000,2.068000,72995.800000
std,58091.159575,126782.007803,61041.08415,65927.591515,128287.137147,61694.728477,66751.187754,6234.851985,3090.784835,3404.102318,0.174069,22663.057838
min,64995.000000,131214.000000,62924.00000,68290.000000,120544.000000,58015.000000,62529.000000,2804.000000,989.000000,1815.000000,1.670000,26853.000000
25%,143063.000000,306032.000000,147685.00000,158347.000000,302853.000000,143412.000000,156532.000000,5777.000000,2254.000000,3232.000000,1.960000,60009.000000
50%,181135.000000,387352.000000,187910.00000,201126.000000,375799.000000,182802.000000,193801.000000,10670.000000,4049.000000,5761.000000,2.030000,73201.000000
75%,212585.000000,465350.000000,219994.00000,245356.000000,460919.000000,218214.000000,237355.000000,13911.000000,6808.000000,8535.000000,2.190000,88885.000000
max,287017.000000,656310.000000,314532.00000,341778.000000,650110.000000,311728.000000,338382.000000,23747.000000,12719.000000,12488.000000,2.390000,114243.000000

### 기존 데이터로 부터 Feature Engineering 하기
- Feature Engineering 이란, 기존에 존재하는 변수를 활용하여 새로운 정보를 추가로 생성하는 과정

In [6]:
df["한국인 비율"] = round(df["총 한국인 수"] / df["전체 수"] * 100, 1)
df["외국인 비율"] = round(df["총 외국인 수"] / df["전체 수"] * 100, 1)
df["고령자 비율"] = round(df["총 65세 이상 고령자 수"] / df["전체 수"] * 100, 1)
df["한국인 중 남자 비율"] = round(df["총 한국인 남자 수"] / df["총 한국인 수"] * 100, 1)
df["한국인 중 여자 비율"] = round(df["총 한국인 여자 수"] / df["총 한국인 수"] * 100, 1)
df["외국인 중 남자 비율"] = round(df["총 외국인 남자 수"] / df["총 외국인 수"] * 100, 1)
df["외국인 중 여자 비율"] = round(df["총 외국인 여자 수"] / df["총 외국인 수"] * 100, 1)

In [7]:
featured_df = df[
    [
        "동",
        "한국인 비율",
        "외국인 비율",
        "고령자 비율",
        "한국인 중 남자 비율",
        "한국인 중 여자 비율",
        "외국인 중 남자 비율",
        "외국인 중 여자 비율",
    ]
]
featured_df

,동,한국인 비율,외국인 비율,고령자 비율,한국인 중 남자 비율,한국인 중 여자 비율,외국인 중 남자 비율,외국인 중 여자 비율
1,종로구,92.5,7.5,19.9,48.1,51.9,42.5,57.5
2,중구,91.9,8.1,20.5,48.1,51.9,46.0,54.0
3,용산구,93.9,6.1,18.1,47.8,52.2,53.0,47.0
4,성동구,97.3,2.7,18.2,48.4,51.6,41.5,58.5
5,광진구,95.2,4.8,17.1,48.0,52.0,40.8,59.2
6,동대문구,94.5,5.5,19.4,48.9,51.1,37.1,62.9
7,중랑구,98.4,1.6,21.7,48.9,51.1,40.1,59.9
8,성북구,96.9,3.1,19.2,47.9,52.1,36.7,63.3
9,강북구,98.0,2.0,24.7,48.2,51.8,33.6,66.4
10,도봉구,99.1,0.9,24.3,48.4,51.6,35.3,64.7
11,노원구,98.9,1.1,20.3,47.9,52.1,40.9,59.1
12,은평구,99.0,1.0,21.1,47.3,52.7,40.2,59.8
13,서대문구,95.1,4.9,18.9,47.4,52.6,30.5,69.5
14,마포구,97.0,3.0,16.1,46.6,53.4,35.7,64.3
15,양천구,99.2,0.8,18.5,48.8,51.2,40.3,59.7
16,강서구,98.9,1.1,19.1,47.9,52.1,42.1,57.9
17,구로구,94.2,5.8,20.4,48.9,51.1,53.6,46.4
18,금천구,94.2,5.8,20.1,50.3,49.7,52.4,47.6
19,영등포구,94.1,5.9,17.7,48.9,51.1,51.5,48.5
20,동작구,97.0,3.0,18.9,48.3,51.7,40.2,59.8
21,관악구,96.4,3.6,17.9,50.3,49.7,39.7,60.3
22,서초구,98.9,1.1,16.6,47.5,52.5,48.0,52.0
23,강남구,99.0,1.0,16.2,47.8,52.2,44.9,55.1
24,송파구,99.1,0.9,17.4,48.0,52.0,45.2,54.8
25,강동구,99.1,0.9,18.7,48.8,51.2,43.4,56.6

In [8]:
# 고령자 비율 순으로 정렬 후 Top 5
featured_df.sort_values(by="고령자 비율", ascending=False).head()

,동,한국인 비율,외국인 비율,고령자 비율,한국인 중 남자 비율,한국인 중 여자 비율,외국인 중 남자 비율,외국인 중 여자 비율
9,강북구,98.0,2.0,24.7,48.2,51.8,33.6,66.4
10,도봉구,99.1,0.9,24.3,48.4,51.6,35.3,64.7
7,중랑구,98.4,1.6,21.7,48.9,51.1,40.1,59.9
12,은평구,99.0,1.0,21.1,47.3,52.7,40.2,59.8
2,중구,91.9,8.1,20.5,48.1,51.9,46.0,54.0

In [9]:
# 외국인 비율 순으로 정렬 후 Top 5
featured_df.sort_values(by="외국인 비율", ascending=False).head()

,동,한국인 비율,외국인 비율,고령자 비율,한국인 중 남자 비율,한국인 중 여자 비율,외국인 중 남자 비율,외국인 중 여자 비율
2,중구,91.9,8.1,20.5,48.1,51.9,46.0,54.0
1,종로구,92.5,7.5,19.9,48.1,51.9,42.5,57.5
3,용산구,93.9,6.1,18.1,47.8,52.2,53.0,47.0
19,영등포구,94.1,5.9,17.7,48.9,51.1,51.5,48.5
18,금천구,94.2,5.8,20.1,50.3,49.7,52.4,47.6